<form method="POST" action="/sessions">
  <input name="user[email]" type="text" placeholder="Email" /><br />
  <input name="user[password]" type="password" placeholder="Password" /><br />
  <input type="submit" value="Login" />
</form>