<form method="POST" action="/users">
  <input name="user[username]" type="text" placeholder="Username" /><br />
  <input name="user[email]" type="text" placeholder="Email" /><br />
  <input name="user[password]" type="password" placeholder="Password" /><br />
  <input name="user[password_confirmation]" type="password" placeholder="Password confirmation" /><br />
  <button type="submit">Sign up</button>
</form>